<ul class="navbar-nav float-end">
  <li class="nav-item" ngbDropdown placement="bottom-end">
    <a
      ngbDropdownToggle
      class="nav-link waves-effect waves-dark pro-pic"
      href="javascript:void(0)"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="name-img">
        <!-- {{userNameLogo.charAt(0).toUpperCase()}} -->
        A
      </span>
      <span class="ms-2">{{userName}}</span>
    </a>
    <div class="dropdown-menu-right" ngbDropdownMenu>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:void(0)" (click)="logOut()"> Logout</a>
    </div>
  </li>
</ul>
