 .contaner {
     width: 30%;
     margin-left: 34%;
     margin-top: 10%;
     border: 1px solid #00000014;
     border-radius: 8px;
     box-shadow: 7px 3px 52px 6px rgba(90, 94, 95, 0.1098039216);
 }
 .form {
    padding: 22px;
 }
